<template>
  <div class="home">
    <el-row>
      <el-col :span="24"><h1>CricApp</h1></el-col>
    </el-row>
    <el-row type="flex" justify="center">
      <el-col :span="12">
        <el-card @click.native="handleMatch(item.id)" class="space-bottom" v-for="item in matches" :body-style="{ backgroundColor: '#5dc9b6', color: 'white', padding: '50px' }" shadow="hover">
          {{item.team_one.name}} vs {{item.team_two.name}}
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Home',
  data() {
      return {
        activeName: 'first',
        matches: [
          // { id: '1',
          //   name:'PAK vs NZ'
          // },
          // { id: '2',
          //   name:'ENG vs IND'
          // },
        ],
      };
    },
    mounted () {
      axios.get('http://127.0.0.1:8000/api/matches').then((resp) => {
        this.matches = resp.data;
        console.log(this.matches)
      }) 
    },
    methods: {
      handleMatch(id) {
        this.$router.push({name: 'matches', params: {id: id}})
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  font-size: 40px;
  color: '#008080';
  margin: 40px 0;
}
.space-bottom {
  margin-bottom: 20px;
}
</style>
