<template>
    <div class="inning">
        
    </div>
</template>

<script>
export default {
    data () {
        return {
           
        }
    },
    methods: {
        handleClick(tab, event) {
            console.log(tab, event);
        }
  }
}
</script>

