<template>
  <div class="matches">
    <h1>{{match}}</h1>
    <el-row type="flex" justify="center">
      <el-col :span="18">
        <el-tabs type="border-card" v-model="activeTeam" @tab-click="handleClick">
          <el-tab-pane label="Batting Score Card" name="team1">
            <el-table :data="tableData1" style="width: 100%">
              <el-table-column prop="player.name" label="Name" width="680"></el-table-column>
              <el-table-column prop="runs" label="R" width="50"></el-table-column>
              <el-table-column prop="ball" label="B" width="50"></el-table-column>
              <el-table-column prop="four" label="4s" width="50"></el-table-column>
              <el-table-column prop="sixes" label="6s" width="50"></el-table-column>
              <el-table-column prop="sr" label="S/R" width="70"></el-table-column>
            </el-table>
          </el-tab-pane>
          <el-tab-pane label="Bowling Score Card" name="team2">
            <el-table :data="tableData2" style="width: 100%">
              <el-table-column prop="player.name" label="Bowler" width="680"></el-table-column>
              <el-table-column prop="maiden" label="Maiden"></el-table-column>
              <el-table-column prop="wicket" label="Wickets"></el-table-column>
              <el-table-column prop="four" label="4s"></el-table-column>
              <el-table-column prop="sixes" label="6s"></el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from "axios";
import { match } from "minimatch";
export default {
  data() {
    return {
      match: "",
      activeName: "first",
      activeTeam: "team1",
      tableData1: [],
      tableData2: []
    };
  },
  props: ["id"],
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
    }
  },
  mounted() {
    if (this.$route.params.id === '1') {
        this.match = 'AUS vs IND'
    }
    else {
        this.match = 'ENG vs PAK'
    }
    axios
      .get(
        `http://127.0.0.1:8000/api/score-card-batsmen/?id=${
          this.$route.params.id
        }`
      )
      .then(resp => {
        resp.data.forEach(e => {
          e.scoring.slice(-10).forEach(score => {
            score.batting["sr"] =
              ((score.batting.runs * 100) / score.batting.ball).toFixed(2);

            this.tableData1.push(score.batting);
          });
        });
      });
      axios
      .get(
        `http://127.0.0.1:8000/api/score-card-bowler/?id=${
          this.$route.params.id
        }`
      )
      .then(resp => {
        resp.data.forEach(e => {
          e.scoring.slice(-5).forEach(score => {
              console.log(score)
            this.tableData2.push(score.bowling);
          });
        });
      });
  }
};
</script>
